---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?orientation=landscape&per_page=1&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 563492ad6f91700001000001439fab3fb375463fafd60ab64e930ad6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19981'
      X-Ratelimit-Reset:
      - '1635227046'
      X-Server:
      - master
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":1,"photos":[{"id":7279335,"width":6720,"height":4480,"url":"https://www.pexels.com/photo/interracial-co-workers-having-fun-conversation-in-office-pantry-7279335/","photographer":"Anastasia  Shuraeva","photographer_url":"https://www.pexels.com/@anastasia-shuraeva","photographer_id":2441340,"avg_color":"#968B7C","src":{"original":"https://images.pexels.com/photos/7279335/pexels-photo-7279335.jpeg","large2x":"https://images.pexels.com/photos/7279335/pexels-photo-7279335.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/7279335/pexels-photo-7279335.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/7279335/pexels-photo-7279335.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/7279335/pexels-photo-7279335.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/7279335/pexels-photo-7279335.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/7279335/pexels-photo-7279335.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/7279335/pexels-photo-7279335.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false}],"total_results":1475,"next_page":"https://api.pexels.com/v1/search/?orientation=landscape\u0026page=2\u0026per_page=1\u0026query=denver%2Cco"}'
  recorded_at: Wed, 29 Sep 2021 03:42:54 GMT
recorded_with: VCR 6.0.0
