---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=15&q=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.206 TT 0 0.210"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 35990,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8503198W",
                    "text": [
                        "/works/OL8503198W",
                        "Denver, Co",
                        "OL10909613M",
                        "9780762507849",
                        "0762507845",
                        "Universal Map Enterprises",
                        "OL2843451A",
                        "Universal Map"
                    ],
                    "type": "work",
                    "seed": [
                        "/books/OL10909613M",
                        "/works/OL8503198W",
                        "/authors/OL2843451A"
                    ],
                    "title": "Denver, Co",
                    "title_suggest": "Denver, Co",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL10909613M"
                    ],
                    "publish_date": [
                        "January 2001"
                    ],
                    "publish_year": [
                        2001
                    ],
                    "first_publish_year": 2001,
                    "isbn": [
                        "9780762507849",
                        "0762507845"
                    ],
                    "last_modified_i": 1338943517,
                    "ebook_count_i": 0,
                    "publisher": [
                        "Universal Map Enterprises"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2843451A"
                    ],
                    "author_name": [
                        "Universal Map"
                    ],
                    "publisher_facet": [
                        "Universal Map Enterprises"
                    ],
                    "_version_": 1700720295581581317,
                    "author_facet": [
                        "OL2843451A Universal Map"
                    ]
                },
                {
                    "key": "/works/OL8808821W",
                    "text": [
                        "/works/OL8808821W",
                        "University of Denver Co 2007",
                        "OL8537031M",
                        "150368610",
                        "1427401683",
                        "9781427401687",
                        "College Prowler",
                        "OL3010394A",
                        "College Prowler"
                    ],
                    "type": "work",
                    "seed": [
                        "/books/OL8537031M",
                        "/works/OL8808821W",
                        "/authors/OL3010394A"
                    ],
                    "title": "University of Denver Co 2007",
                    "title_suggest": "University of Denver Co 2007",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL8537031M"
                    ],
                    "publish_date": [
                        "July 1, 2006"
                    ],
                    "publish_year": [
                        2006
                    ],
                    "first_publish_year": 2006,
                    "oclc": [
                        "150368610"
                    ],
                    "isbn": [
                        "1427401683",
                        "9781427401687"
                    ],
                    "last_modified_i": 1304171421,
                    "ebook_count_i": 0,
                    "cover_edition_key": "OL8537031M",
                    "cover_i": 1847337,
                    "publisher": [
                        "College Prowler"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL3010394A"
                    ],
                    "author_name": [
                        "College Prowler"
                    ],
                    "id_goodreads": [
                        "2985742"
                    ],
                    "publisher_facet": [
                        "College Prowler"
                    ],
                    "_version_": 1700720648496611328,
                    "author_facet": [
                        "OL3010394A College Prowler"
                    ]
                },
                {
                    "key": "/works/OL4437736W",
                    "text": [
                        "/works/OL4437736W",
       [...]
